.hidden {
    display: none;
}

ul.checkmateListTable li.notActive div {
    background-color: #0080b2;;
}

ul.checkmateListTable li.notActive div a div span {
    color:white;
}

ul.checkmateListTable li.notActive div a div span span.secondaryData.email {
    color:lightgrey;
}

#listBuild {
    overflow-y: scroll;
    height: 40vh;
    margin-top: 1em;
}

.box {
    float: left;
    width: 100%;
    margin-top: 1em;
}

.inset {
    border-color:#56a1d5 !important;
    color:#25477b;
}

#legends {
    font-weight: 700;
    color: #25477b;
    fill: #25477b;
    text-transform: uppercase;
    font-size: 1.25em;
}

.help-tip{
    position: absolute;
    margin-left: 190px;
    margin-top: -27px;
    /* top: 18px;
    right: 18px; */
    text-align: center;
    background-color: gray;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    font-size: 14px;
    line-height: 20px;
    cursor: default;
    
}

.help-tip:before{
    content:'i';
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
}

.help-tip:hover p{
    visibility: visible;
    opacity: 0.75;
    transform-origin: 100% 0%;
/* 
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out; */
}

.help-tip p{    /* The tooltip */
    visibility: hidden;
    word-wrap: break-word;
    width: 580px;
    background-color:#555;
    color: white;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: -140%;
    left: 100%;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}


.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}